---
import { SITE } from "config";
import SocialLinks from "./SocialLinks";
---

<div id="hero" class="mb-12">
  <div class="py-8">
    <h1 class="space-y-2 lg:space-y-4">
      <div class="text-2xl lg:text-6xl font-mono font-extrabold text-gray-800">
        Hi, I am
      </div>
      <div class="relative">
        <div class="text-4xl lg:text-5xl font-extrabold flex">
          <div class="bg-gray-800 px-4 lg:px-8 text-white">{SITE.author}</div>
        </div>
      </div>
    </h1>
  </div>
  <div class="prose">
    <p>
      I started my journey as a Software Engineer in 2012, long before the
      emergence of React, TypeScript, and the modern toolkit. Over this time,
      I've witnessed the evolution of the web and its methodologies.
    </p>
    <p>
      A significant part of my experience was spent in a platform team that
      developed internal tools for over 200 engineers. Among these tools was the


      <a href="https://github.com/tramvaijs/tramvai" target="_blank"
        >SSR framework Tramvai</a
      > for React, which I designed and laid the foundational ideas for .
      Additionally, I was responsible for a comprehensive suite of internal
      tools that facilitated rapid deployment of applications into our in-house
      infrastructure.
    </p>
    <p>
      Furthermore, I have maintained a high-traffic Node.js SSR application,
      dedicating significant time to its performance and reliability (SRE
      aspects). Additionally, I've spent a lot of time on processes and how to
      build collaborative project work in a large company.
    </p>
    <p>
      You can also follow me on <SocialLinks />
    </p>
  </div>
</div>
