body {
  background-image: radial-gradient(circle at 12.5px 12.5px,
      lightgray 2%,
      transparent 0%),
    radial-gradient(circle at 37.5px 37.5px, lightgray 2%, transparent 0%);
  background-size: 50px 50px;
}

body.medium-zoom--opened .medium-zoom-overlay {
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.95) !important;
}

body.medium-zoom--opened .medium-zoom-image--opened {
  z-index: 9999;
}